.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: var(--title-color2);
  background-image: url("../../assets/Back.png");
  background-size: cover; /* Make the background cover the entire area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  padding: 0px 20px;
  text-align: center;
  overflow: hidden;
}


.hero .hero-content {
  height: auto;
  width: 100%;
  padding-top:5%;
	text-align: center;
	color: #FFF;

}

.hero .hero-content h1 {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  opacity: 0;
  animation: fadeIn linear 0.8s forwards;
  background-image: url(https://media0.giphy.com/media/0AOlb3LlQ14z68ORRu/200.webp?cid=790b7611jey269o1yia7no8fozorlm6sf084lppvrfsssl8p&ep=v1_gifs_search&rid=200.webp&ct=g);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 40px;
	margin: 0;
}



.hero .hero-content p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
  text-align: center;
  opacity: 0;
  animation: fadeIn linear 0.8s forwards;
  animation-delay: 0.3s;
}

.hero .hero-content p .hero-colorText {
  font-weight: 900;
  animation: fadeIn linear 0.8s forwards;
  background-image: url(https://media0.giphy.com/media/0AOlb3LlQ14z68ORRu/200.webp?cid=790b7611jey269o1yia7no8fozorlm6sf084lppvrfsssl8p&ep=v1_gifs_search&rid=200.webp&ct=g);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 20px;
  padding-bottom: 20px;
}

.hero .hero-content p .hero-view {
  animation: fadeIn linear 0.8s forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 10px;
  border: 3px solid #dcf4ee;
  font-weight: bold;
  line-height: 1.7;
  text-align: center;
  padding: 10px 10px 10px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.hero .hero-content p .hero-view:hover {
  background-color: #ff7f50;
  border-color: #ffffff;
  color: #ffffff;
  transform: scale(1);
  filter: blur(0);
  opacity: 1;
}


.hero .hero-content p .hero-view .icon {
  padding: 0px 0px 0px 5px;
  height: 80px;
  width: 30px;
}

a.hero-view {
  height: 60px;
  width: 230px;
  transition: all 0.7s var(--transition);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
  }
}


@media screen and (min-width: 853px) and (max-width: 1280px) {
  .hero .hero-content {
   
  }
}

@media screen and (min-width: 1280px) and (max-height: 800px) {
  .hero .hero-content {
   
  }
}
@media screen and (min-width: 1024px) and (max-height: 600px) {
  .hero .hero-content {
  }
}

@media screen and (min-width: 768px) and (max-height: 1024px) {
  .hero .hero-content {
  }
}

@media screen and (min-width: 820px) and (max-height: 1180px) {
  .hero .hero-content {
  }
}

@media only screen and (max-width: 767px) {
  .hero {
  
  }

  .hero .hero-content {
  
  }

  .hero .hero-content h1 {
    font-size: 35px;
  }

  .hero .hero-content p .hero-colorText{
    font-size: 13px; /* Example value for $fontsize-midText */
  }

  .hero .hero-content p .hero-view {
    font-size: 14px; /* Example value for $fontsize-minText */
  }
}

@media only screen and (min-width: 540px) and (max-width: 767px) {
  .hero {
    height: calc(100vh);
  }

  .hero .hero-content {
   
  }

  .hero .hero-content h1 {
    font-size: 25px;
    padding-bottom: 30px;
  }

  .hero .hero-content p {
    font-size: 14px; /* Example value for $fontsize-minText */
  }

  .hero .hero-content p .hero-view {
    font-size: 14px; /* Example value for $fontsize-minText */
  }
}

@media only screen and (max-width: 540px) {
  .hero {
    height: calc(100vh);
  }

  .hero .hero-content {
    
  }

  .hero .hero-content h1 {
    font-size: 24px;
    padding-bottom: 30px;
  }

  .hero .hero-content p {
    font-size: 14px; /* Example value for $fontsize-minText */
  }

  .hero .hero-content p .hero-view {
    font-size: 14px; /* Example value for $fontsize-minText */
  }
}

@media only screen and (max-width: 420px) {
  .hero {
    height: calc(100vh);
  }

  .hero .hero-content {
    
  }

  .hero .hero-content h1 {
    font-size: 22px;
    padding-bottom: 20px;
  }

  .hero .hero-content p {
    font-size: 12px; /* Example value for $fontsize-smallText */
  }

  .hero .hero-content p .hero-view {
    font-size: 12px; /* Example value for $fontsize-smallText */
  }
}

@media only screen and (max-width: 375px) {
  .hero {
    height: calc(100vh);
  }

  .hero .hero-content {
  }

  .hero .hero-content h1 {
    font-size: 20px;
    padding-bottom: 20px;
  }

  .hero .hero-content p {
    font-size: 14px; /* Example value for $fontsize-minText */
  }

  .hero .hero-content p .hero-view {
    font-size: 14px; /* Example value for $fontsize-minText */
  }
  a.hero-view {
    height: 50px;
    width: 200px;
  }
}


@media (max-width: 375px) and (max-height: 667px) {
  .hero {
    padding: 0 5px;
  }

  .hero .hero-content {
  }

 .hero .hero-content h1 {
    font-size: 20px;
  }

  .hero .hero-content p .hero-colorText {
    font-size: 10px;
  }

  .hero .hero-content p .hero-view {
    font-size: 14px;
  }
}




@media only screen and (max-width: 280px) {
  .hero {
    height: calc(100vh);
  }

  .hero .hero-content {
    
  }

  .hero .hero-content h1 {
    font-size: 20px;
    padding-bottom: 20px;
  }

  .hero .hero-content p {
    font-size: 14px; 
  }

  .hero .hero-content p .hero-view {
    font-size: 14px; 
  }
  a.hero-view {
    height: 60px;
    width: 150px;
  }
}


/* Specific Media Query for 360px x 740px */
@media only screen and (max-width: 360px) and (max-height: 740px) {

  .hero .hero-content {
    font-size: 20px;
  }

  .hero .hero-content h1 {
    font-size: 20px;
    padding-bottom: 20px;
  }

  .hero .hero-content p {
    font-size: 12px;
  }

  .hero .hero-content p .hero-view {
    font-size: 12px;
  }

  a.hero-view {
    height: 50px;
    width: 180px;
  }
}