.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: var(--second-gradient);
  background-image: var(--second-gradient);
  background-image: var(--title-color2);
  background-image: url("../../assets/Back.png");
  background-size: cover; /* Make the background cover the entire area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  padding: 0 20px;
  text-align: center;
}

.hero .hero-content {
  height: auto;
  transform: translateY(-40px);

  padding-top: 15%;
}

.hero .hero-content h1 {
  font-size: 40px;
  font-weight: 900;
  padding-bottom: 20px;
  text-align: center;
  opacity: 0;
  animation: fadeIn linear 0.8s forwards;
}

.hero .hero-content p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
  text-align: center;
  opacity: 0;
  animation: fadeIn linear 0.8s forwards;
  animation-delay: 0.3s;
}

.hero .hero-content p .hero-colorText {
  font-weight: 900;
}

.hero .hero-content p .hero-view {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 10px;
  border: 3px solid #e2e0e0;
  font-weight: bold;
  line-height: 1.7;
  text-align: center;
  padding: 10px 10px 10px 10px;
  text-transform: uppercase;
}

.hero .hero-content p .hero-view:hover {
  background-color: #ff7f50;
  border-color: #ffffff;
  color: #ffffff;
}

.hero .hero-content p .hero-view .icon {
  padding: 0px 0px 0px 5px;
  height: 80px;
  width: 30px;
}

a.hero-view {
  height: 60px;
  width: 230px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 767px) {
  .hero {
    height: calc(100vh - 60px);
  }

  .hero .hero-content {
    transform: translateY(-30px);
  }

  .hero .hero-content h1 {
    font-size: 30px;
  }

  .hero .hero-content p {
    font-size: 18px; /* Example value for $fontsize-midText */
  }

  .hero .hero-content p .hero-view {
    font-size: 14px; /* Example value for $fontsize-minText */
  }
}

@media only screen and (min-width: 540px) and (max-width: 767px) {
  .hero {
    height: calc(100vh);
  }

  .hero .hero-content {
    transform: translateY(0px);
  }

  .hero .hero-content h1 {
    font-size: 30px;
    padding-bottom: 30px;
  }

  .hero .hero-content p {
    font-size: 14px; /* Example value for $fontsize-minText */
  }

  .hero .hero-content p .hero-view {
    font-size: 14px; /* Example value for $fontsize-minText */
  }
}

@media only screen and (max-width: 540px) {
  .hero {
    height: calc(100vh);
  }

  .hero .hero-content {
    transform: translateY(0px);
  }

  .hero .hero-content h1 {
    font-size: 30px;
    padding-bottom: 30px;
  }

  .hero .hero-content p {
    font-size: 14px; /* Example value for $fontsize-minText */
  }

  .hero .hero-content p .hero-view {
    font-size: 14px; /* Example value for $fontsize-minText */
  }
}

@media only screen and (max-width: 420px) {
  .hero {
    height: calc(100vh);
  }

  .hero .hero-content {
    transform: translateY(0px);
  }

  .hero .hero-content h1 {
    font-size: 30px;
    padding-bottom: 20px;
  }

  .hero .hero-content p {
    font-size: 12px; /* Example value for $fontsize-smallText */
  }

  .hero .hero-content p .hero-view {
    font-size: 12px; /* Example value for $fontsize-smallText */
  }
}

@media only screen and (max-width: 375px) {
  .hero {
    height: calc(100vh);
  }

  .hero .hero-content {
    transform: translateY(0px);
  }

  .hero .hero-content h1 {
    font-size: 20px;
    padding-bottom: 20px;
  }

  .hero .hero-content p {
    font-size: 14px; /* Example value for $fontsize-minText */
  }

  .hero .hero-content p .hero-view {
    font-size: 14px; /* Example value for $fontsize-minText */
  }
  a.hero-view {
    height: 50px;
    width: 180px;
  }
}

@media only screen and (max-width: 280px) {
  .hero {
    height: calc(100vh);
  }

  .hero .hero-content {
    transform: translateY(0px);
  }

  .hero .hero-content h1 {
    font-size: 20px;
    padding-bottom: 20px;
  }

  .hero .hero-content p {
    font-size: 14px; 
  }

  .hero .hero-content p .hero-view {
    font-size: 14px; 
  }
  a.hero-view {
    height: 60px;
    width: 150px;
  }
}





